/*Utilities*/

.u-title{
  color: #00CCFF;
  border-bottom:2px dashed #00CCFF;
  font-weight:normal;
  text-align:center;
  padding-bottom:.5em;
}
/*MainMenu*/
.MainMenu{
  background: #1E1E1E;
  text-align:center;
  /*height:60px; Alto estatico*/
  /*Alto relativo es con EM's y con %*/
  height: 3.75em; /*Los 1em toma el valor de la fuente mas cercana*/
  position:fixed;
  left:0;
  top:0;
  right:0;
}
.MainMenu-list{
  margin:0;/*margin: 10px 0; arriba y abajo son 10px de margen y 0px es de izquierda y derecha*/
  padding:0; /*Es lo mismo que el margin para sus valores*/
}
.MainMenu-item{
  display:inline-block;
}
.MainMenu-Link{
  color: #00DBFF;
  text-decoration:none;
  line-height:3.75em;
  margin-right:1.5em;
}

.Header{
  margin-top:3.75em;
  background-image: url('../images/portada.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;/*cubra todo el ancho disponible*/
  text-align:center;
  padding:1.25em 0;
}
.Header-imageContainer{
  margin:0;
}
.Header-image{
  border:5px solid white; /*Parametros: tamaño, tipo y color*/
  border-radius:10px 50px 5px 60px; /*Parametros: bordesupizq, bordesupderech, bordeinfdere, bordeinfizqu*/
  /*Me gusto la figura: border-radius:10px 50px 5px 60px;*/
}

.Header-name,
.Header-link{
  color: white;
}
.Header-link{
  font-size:2.2em;
  font-weight:bold;
  text-decoration: none;
}
.Header-name{
  font-size:1.5em;
  font-weight:300;
  margin:0;
}

/*Profile*/
.Profile{
  text-align:center;
}
.Profile-link{
  background:orange;
  color: white;
  text-decoration:none;
  padding:.5em 1em;
  border-radius:2em;
  margin-right:.5em;
}
/*Work*/
.Work{
  margin-top:2em;
  text-align:center;
}
.Work-item{
  display:inline-block;
}
.Work-imageContainer{
  margin:0;
}
.Work-description{
  font-size:1.1em;
  color: #515151;
  font-style: italic;
}

/*Footer*/

.Footer{
  background-image:url('../images/footer.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  padding:2em 0;
  text-align:center;
}
.Footer-form{
  text-align:center;
  display:inline-block;
}
.Footer-left{
  display:inline-block;
  width:32em;
  text-align:center;
  vertical-align:top;
}
.Footer-title{
  color:white;
}
.Footer-formInput,
.Footer-textarea{
  background:white;
  border:none;
  display:block; /*Para que se centren se hacen con margenes*/
  border-radius:2em;
  padding:.5em;
  margin:0 auto 1em;
}
.Footer-textarea{
  resize:none; /*Para que no se cambie de tamaño por la esquina*/
}
.Footer-button{
  background: orange;
  color: whiter;
  border-radius:1em;
  border:none;
  padding:.5em 1em;
}
