<!DOCTYPE html>
  <head lang="es">
    <title>Portafolio.la</title>
    <meta charset="UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/normalize.css"/>
    <link rel="stylesheet" href="../static/css/estilos.css"/>
  </head>
  <body>
    <header id="yo" class="Header">
      <nav class="MainMenu">
        <ul class="MainMenu-list">
          <li class="MainMenu-item">
            <a class="MainMenu-Link" href="#yo">Yo</a>
          </li>
          <li class="MainMenu-item">
            <a class="MainMenu-Link" href="#perfil">Perfil</a>
          </li>
          <li class="MainMenu-item">
            <a class="MainMenu-Link" href="#trabajo">Trabajo</a>
          </li>
          <li class="MainMenu-item">
            <a class="MainMenu-Link" href="#contacto">Contacto</a>
          </li>
        <ul>
      </nav>
      <figure class="Header-imageContainer">
        <img src="../static/images/avatar.jpg" alt="Imagen personal" class="Header-image"/>
        <figcaption ><a href="http://twitter.com/VazqSaul" target="_blank" class="Header-link">@VazqSaul</a></figcaption><!--Descripción de la Imagen-->
        <p class="Header-name">Saúl Vázquez</p>
      </figure>
    </header>
    <section id="perfil" class="Profile">
      <h2 class="Profile-title  u-title">Perfil</h2>
      <p class="Profile-description">
        <strong>Hola!</strong> ve mi <span class="Profile-span">portafolio</span> y <em>contactame</em> <!--Utiliza em, strong para resaltar, pero si solo la quieres para estilos utiliza span-->
      </p>
      <a class="Profile-link" href="http://twitte<strong>Hola!</strong>r.com/VazqSaul" target="_blank">@VazqSaul</a>
      <a class="Profile-link" href="http://facebook.com/VazqSaul" target="_blank">SauL Vazquez</a>
      <a class="Profile-link" href="http://github.com/VazqSaul" target="_blank">SauL Vazquez</a>
    </section>
    <section id="trabajo" class="Work">
      <h2 class="Work-title  u-title">Mi trabajo</h2>
      <article class="Work-item">
        <figure>
          <img class="Work-image" src="../static/images/proyecto.jpg" alt="descripcion imagen">
          <figcaption class="Work-description">Website de platzi</figcaption>
        </figure>
      </article>
      <article class="Work-item">
        <figure class="Work-imageContainer">
          <img class="Work-image" src="../static/images/proyecto.jpg" alt="descripcion imagen">
          <figcaption  class="Work-description">Website de platzi</figcaption>
        </figure>
      </article>
      <article class="Work-item">
        <figure class="Work-imageContainer">
          <img class="Work-image" src="../static/images/proyecto.jpg" alt="descripcion imagen">
          <figcaption  class="Work-description">Website de platzi</figcaption>
        </figure>
      </article>
      <article class="Work-item">
        <figure class="Work-imageContainer">
          <img class="Work-image" src="../static/images/proyecto.jpg" alt="descripcion imagen">
          <figcaption  class="Work-description">Website de platzi</figcaption>
        </figure>
      </article>
      <article class="Work-item">
        <figure class="Work-imageContainer">
          <img class="Work-image" src="../static/images/proyecto.jpg" alt="descripcion imagen">
          <figcaption  class="Work-description">Website de platzi</figcaption>
        </figure>
      </article>
    </section>
    <footer id="contacto" class="Footer">

      <div class="Footer-left">
      <h3 class="Footer-title">Contacto</h3>
      <p class="Footer-description">Tienes alguna sugerencia o quieres trabajar conmigo, ponte en contacto con este formulario</p>
      </div>


      <form class="Footer-form">
        <input class="Footer-formInput" type="text" placeholder="nombre"/>
        <input class="Footer-formInput" type="email" placeholder="email"/>
        <textarea class="Footer-textarea" placeholder="motivo"></textarea>
        <button class="Footer-button" type="submit">Contactame</button>
      </form>
      
    </footer>
  </body>
</html>
